.authentication-bg {
    background-image: url('../assets/img/bg-pattern-light.svg');
    background-size: cover;
    background-position: center;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.form-control-area{
    padding: 12px;
}

.form-control-area input{
    width: 100%;
}

.rounded_circle{
    border-radius: 50%;
}

.purpleLink{
    color: #7620FF;
}

.purpleLink:hover{
    color: #4a00c2;
}

.MuiMenuItem-root.Mui-selected{
    color: #ec0883;
    border-bottom: 2px solid #ec0883;
}

.MuiAvatar-img{
    object-fit: cover !important;
    height: 100% !important;
}

.cust_edit_icon{
    position: absolute;
    color: #525252;
    right: 0;
    font-weight: bold;
    cursor: pointer;
    margin-right: 12px;
}

.cust_card_table{
    border-spacing: 10px;
    border-collapse: separate;
}

.cust_card_table tr td:first-child{
    font-weight: bold;
    color: #707070;
    padding-right: 15px;
}

.cust_card_table tr td:last-child{
    font-weight: bold;
}

input:-webkit-autofill {
    box-shadow: transparent;
    -webkit-text-fill-color: #000;
}

.cust_assign_table tr td:first-child{
    width: 50%;
}